.container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  width: fit-content;
  flex-wrap: nowrap;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 300;
}

.input {
  all: unset;
  padding: 0 5px;
  outline: none;
  text-align: end;
}
